@import '../../node_modules/normalize.css/normalize.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;

  background-color: #efe9dd;
  color: #222220;
  /* max-width: 1920px; */
  min-width: 300px;
}
main,
.header-container,
.container {
  padding: 0 calc(20px + (170 - 20) * (100vw - 300px) / (1920 - 300));
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --main-color: #222220;
  --light-color: #efe9dd;
  --white: #fff;
  --accent-color: #9d875c;
  --accent-bg: #c1ab81;
  --accent-font: 'Italiana', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

section {
  margin: 0 auto;
}

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

/* BLOK */
/* BLOK */
/* BLOK */

.top-blok {
  display: grid;
  gap: 20px;
}
.top-blok-label {
  text-transform: capitalize;
  line-height: 156%;
}
.top-blok-title {
  font-family: var(--accent-font);
  font-size: 48px;
  font-weight: 400;
  color: var(--accent-color);
  text-transform: capitalize;
}
.top-blok-text {
  display: grid;
  gap: 20px;
}
.top-blok-text p:first-child {
  font-style: italic;
  line-height: 156%;
}
.text {
  max-width: 460px;
  line-height: 156%;
}
.top-blok-button {
  background-image: url('../img/bg-button.png');
  background-repeat: no-repeat;
  background-size: contain;
  font-weight: 300;
  height: 46px;
  width: 137px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  transition: all 300ms ease;
}
.top-blok-button:hover {
  opacity: 1;
}
.button {
  padding: 10px 30px;
  line-height: 156%;
}

/* BLOK */
/* BLOK */
/* BLOK */

/* HEADER */
.header-container {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.menu-list,
.footer-menu {
  color: var(--accent-color);
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.header-action {
  display: flex;
  gap: 50px;
  align-items: center;
  color: var(--accent-color);
}
.outline-btn {
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 50px;
  height: 46px;
  width: 137px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  transition: all 300ms ease;
  color: var(--accent-color);
}
.outline-btn:hover {
  color: var(--accent-bg);
  border-color: var(--accent-bg);
}
/* ======================= */
/* ======================= */
/* ======================= */

@media (max-width: 1240px) {
  .header-container,
  .line-vertical,
  .line-horizontal {
    display: none;
  }
  .icon-menu,
  .icon-close {
    display: inline-block;
    width: 40px;
    height: 40px;
    stroke-width: 0.5px;
    stroke: var(--accent-color);
    fill: transparent;
  }
  .header-mobile-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  .header-logo {
    width: 150px;
  }

  .header-menu {
    font-size: 24px;
    position: relative;
    padding: 40px 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .header-action {
    margin: 0 auto;
    max-width: 350px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }

  .menu-list {
    gap: 20px;
    padding: 40px 20px;
    align-items: center;
    flex-direction: column;
  }
  .close-menu,
  .open-menu {
    border: none;
    background: transparent;
  }
  .close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .header-mobile-menu {
    z-index: 1000;
    right: -100%;
    position: absolute;
    scale: 0;
    transition: all 500ms ease;
  }
  .is-open {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: var(--main-color);
    overflow-y: scroll;
    scale: 1;
    transition: all 500ms ease;
  }
  /* ============ */
  /* =============== */
  /* ======================= */
  .footer-top-container {
    flex-wrap: wrap;
    gap: 40px;
    align-items: start;
  }
  .footer-logo-container {
    order: 1;
    flex-grow: 3;
  }
  .social-container {
    order: 2;
  }
  .subscribe-container {
    order: 3;
  }
  .footer-bottom-container p {
    padding-bottom: 120px;
    padding-top: 40px;
  }
}

@media (min-width: 768px) {
  .header-mobile-menu {
    width: 40%;
  }
}

@media (min-width: 1240px) {
  .header-mobile-container {
    display: none;
  }
  .header-mobile-menu {
    display: none;
  }
}

/* ===================================== */
/* ===================================== */
/* ===================================== */

.footer {
  background-color: var(--main-color);
  position: relative;
  color: var(--accent-color);
  z-index: 1;
}
.footer-wrap {
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 40px;
}

.footer::after,
.footer::before {
  mix-blend-mode: screen;
  position: absolute;
  pointer-events: none;
  content: '';
  display: block;
  width: 250px;
  height: 250px;
}

.footer::after {
  bottom: 0;
  left: 0;
  background: url(../img/left-decor.png);
  background-repeat: no-repeat;
}

.footer::before {
  right: 0;
  top: 0;
  background: url(../img/right-decor.png);
  background-repeat: no-repeat;
}
.footer-top-container {
  display: flex;
  justify-content: space-between;
}
.line-vertical {
  width: 1px;
  height: 160px;
  background-color: var(--accent-color);
  margin-bottom: 45px;
}

.social-container h3 {
  font-family: 'Italiana';
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 15px;
}

.social-links {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}
.icon-s {
  width: 24;
  height: 24;
  fill: var(--accent-color);
}

.subscribe-container h3 {
  font-family: 'Italiana';
  font-weight: 300;
  font-size: 32px;
  max-width: 345px;
  text-transform: capitalize;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--accent-color);
}
.subscribe-form input:focus-visible {
  outline: none;
}
.subscribe-form button,
.subscribe-form input {
  background-color: transparent;
  border: none;
  padding-bottom: 16px;
  padding-top: 25px;
  font-family: 'Montserat';
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  color: var(--accent-color);
}

.subscribe-form button,
.subscribe-form input::placeholder {
  font-family: 'Montserat';
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  color: var(--accent-color);
}

.footer-bottom-container p {
  text-align: center;
}
.line-horizontal {
  background-color: var(--accent-color);
  height: 1px;
  max-width: 100%;
  margin-bottom: 40px;
}
