@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/swiper/swiper.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;

  background-color: #efe9dd;
  color: #222220;
  min-width: 300px;
}

.header-container,
.container {
  padding: 0 calc(20px + (170 - 20) * (100vw - 300px) / (1920 - 300));
}

img {
  display: block;
  max-width: 100%;
}

:root {
  --main-color: #222220;
  --light-color: #efe9dd;
  --white: #fff;
  --accent-color: #c1b081;
  --accent-bg: #9d875c;
  --accent-font: 'Italiana', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

section {
  margin: 0 auto;
}

.menu-opened {
  overflow: hidden;
}

/* BLOK */
/* BLOK */
/* BLOK */

.top-blok {
  display: grid;
  gap: 20px;
}
.top-blok-label {
  text-transform: capitalize;
  line-height: 156%;
}
.top-blok-title {
  font-family: var(--accent-font);
  font-size: 48px;
  font-weight: 400;
  color: var(--accent-color);
  text-transform: capitalize;
}
.top-blok-text {
  display: grid;
  gap: 20px;
}
.top-blok-text p:first-child {
  font-style: italic;
  line-height: 156%;
}
.text {
  max-width: 460px;
  line-height: 156%;
}
.top-blok-button {
  background-image: url('../img/bg-button.png');
  background-repeat: no-repeat;
  background-size: contain;
  font-weight: 300;
  height: 46px;
  width: 137px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  transition: all 300ms ease;
}
.top-blok-button:hover {
  opacity: 1;
}
.button {
  padding: 10px 30px;
  line-height: 156%;
}

/* HEADER */
.header-container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-list,
.footer-menu {
  color: var(--accent-color);
  font-weight: 300;
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}

.header-action {
  display: flex;
  gap: 50px;
  align-items: center;
  color: var(--accent-color);
}
.outline-btn {
  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 50px;
  height: 46px;
  width: 137px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  transition: all 300ms ease;
  color: var(--accent-color);
}
.outline-btn:hover {
  color: var(--accent-bg);
  border-color: var(--accent-bg);
}

/* ===================================== */
/* ===================================== */
/* ===================================== */

.footer {
  background-color: var(--main-color);
  position: relative;
  color: var(--accent-color);
  z-index: 1;
  bottom: 0;
  margin-top: 60px;
}
.footer-wrap {
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 40px;
}

.footer::after,
.footer::before {
  mix-blend-mode: screen;
  position: absolute;
  pointer-events: none;
  content: '';
  display: block;
  width: 250px;
  height: 250px;
}

.footer::after {
  bottom: 0;
  left: 0;
  background: url(../img/left-decor.png);
  background-repeat: no-repeat;
}

.footer::before {
  right: 0;
  top: 0;
  background: url(../img/right-decor.png);
  background-repeat: no-repeat;
}
.footer-top-container {
  display: flex;
  justify-content: space-between;
}
.line-vertical {
  width: 1px;
  height: 160px;
  background-color: var(--accent-color);
  margin-bottom: 45px;
}

.social-container h3 {
  font-family: 'Italiana';
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 15px;
}

.social-links {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}
.icon-s {
  width: 24;
  height: 24;
  fill: var(--accent-color);
}

.subscribe-container h3 {
  font-family: 'Italiana';
  font-weight: 300;
  font-size: 32px;
  max-width: 345px;
  text-transform: capitalize;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--accent-color);
}
.subscribe-form input:focus-visible {
  outline: none;
}
.subscribe-form button,
.subscribe-form input {
  background-color: transparent;
  border: none;
  padding-bottom: 16px;
  padding-top: 25px;
  font-family: 'Montserat';
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  color: var(--accent-color);
}

.subscribe-form button,
.subscribe-form input::placeholder {
  font-family: 'Montserat';
  font-weight: 400;
  font-size: 16px;
  line-height: 156%;
  color: var(--accent-color);
}

.footer-bottom-container p {
  text-align: center;
}
.line-horizontal {
  background-color: var(--accent-color);
  height: 1px;
  max-width: 100%;
  margin-bottom: 40px;
}

/* =================HERO================= */
/* =================HERO================= */
/* =================HERO================= */

.hero-section {
  background: url(../img/hero-bg.png) center/cover no-repeat, #201b12;
  position: relative;
  padding-top: 100px;
  height: 100%;
}

.about-us-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 60px;
  padding-top: 190px;
  padding-bottom: 100px;
}

.about-us-wrap img {
  min-width: 280px;
  border: 1px solid var(--main-color);
  padding: 10px;
}
.hero .slider-container {
  width: 100%;
  height: 100%;
}

.slider-wrapper {
  height: 100%;
  text-align: center;
  display: flex;
  gap: 100px;
  align-items: center;
  width: 700px;
  transform: translate(50%, -40%);
}

.slider-slide {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prewiew-slide {
  display: flex;
  gap: 20px;
}

.slider-btn {
  display: flex;
  gap: 30px;
  align-items: center;
  fill: var(--accent-color);
  position: absolute;
  bottom: 0px;
  right: 20px;
  z-index: 1;
}

.slider-button-prev {
  rotate: 180deg;
}
.slider-button-prev,
.slider-button-next {
  display: flex;
  align-items: center;
  scale: 1;
  transition: all 0.5ms ease;
}

.slider-button-prev:hover,
.slider-button-next:hover {
  cursor: pointer;
  scale: 1.6;
}
.features-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 40px;
  padding-bottom: calc(75px);
}
.features-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.features-title {
  font-family: var(--accent-font);
  font-size: 24px;
  font-weight: 300;
  text-transform: capitalize;
}

.servises .servises-img {
  border: 1px solid var(--white);
}

.servises {
  color: var(--white);
  background-color: var(--main-color);
}
.servises-grid {
  padding-top: 160px;
  padding-bottom: 160px;
}
.servises-grid-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--accent-bg);
  font-family: var(--accent-font);
  font-size: 32px;
  text-transform: capitalize;
  font-weight: normal;
  padding-top: 52px;
}
.servises-grid-action a {
  fill: var(--accent-bg);
  cursor: pointer;
  transition: all 500ms ease;
}
.servises-grid-action a:hover {
  fill: var(--main-color);
}
.servises-grid-list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  column-gap: 126px;
  row-gap: 194px;
}
.servises-grid-item {
  width: fit-content;
}
.servises-grid-item img {
  min-width: 280px;
}
.contact-us-bg {
  height: 140px;
  min-width: 300px;
  background: var(--accent-color);
}
.contact-us-container {
  position: relative;
}
.contact-us-wrap {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-top: 300px;
  padding-bottom: 300px;
}
.contact-us-wrap .top-blok {
  margin-left: 100px;
}

.contact-us-first-img {
  position: absolute;
  z-index: 1;
  top: 60px;
  min-width: 280px;
  padding: 16px;
  border: 1px solid var(--accent-bg);
  box-shadow: 10px 10px 10px 0px rgba(60, 38, 12, 0.35);
}
.contact-us-second-img {
  position: absolute;
  top: 356px;
  left: 226px;
  z-index: 2;
  margin-top: 60px;
  min-width: 280px;
  padding: 16px;
  border: 1px solid var(--accent-bg);
  box-shadow: 10px 10px 10px 0px rgba(60, 38, 12, 0.35);
}
.qoute-wrap img {
  margin: 0 auto;
}
.qoute-wrap {
  padding-bottom: 40px;
  text-align: center;
  color: var(--accent-bg);
}
.quote {
  max-width: 900px;
  color: var(--main-color);
  font-size: 30px;
  margin: 50px auto;
}
.quote-autor {
  font-family: var(--accent-font);
  font-weight: normal;
  font-size: 48px;
}
.quote-swiper-button-prev {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 50%;
  rotate: 180deg;
  fill: var(--accent-bg);
  cursor: pointer;
  width: fit-content;
}
.quote-swiper-button-next {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 50%;
  fill: var(--accent-bg);
  cursor: pointer;
  width: fit-content;
}
.swiper {
  position: relative;
}
.swiper {
  width: 100%;
  height: 100%;
}
.qoute-swiper-slide {
  width: 100%;
}
h1 {
  font-family: var(--accent-font);
  color: var(--accent-color);
  font-weight: normal;
  font-size: 100px;
  text-transform: capitalize;
}
.hero-text-conteiner {
  max-width: 630;
  padding-top: 60px;
  padding-bottom: 60px;
}

.hero-swiper {
  width: 35%;
  height: 80%;
  margin-right: 0;
  margin-top: 5%;
  position: absolute;
  top: 7%;
  right: 10%;
}
/* ======================= */
/* ======================= */
/* ======================= */

@media (min-width: 1239px) {
  .header-mobile-container {
    display: none;
  }
  .header-mobile-menu {
    display: none;
  }

  .header {
    position: fixed;
    z-index: 50;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(14, 9, 0, 0.726);
    transition: background-color 0.3s;
  }
  .servises {
    height: 100%;
    background-image: url('../img/servises-bg.png');
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 1239px) {
  .hero-section {
    padding-top: 0;
  }
  h1 {
    font-size: 48px;
  }
  .hero-slider {
    overflow: hidden;
  }
  .slider-wrapper {
    transform: translate(50%, 0);
  }
  .quote-swiper-button-next,
  .quote-swiper-button-prev {
    bottom: 0;
  }
  .quote {
    max-width: 100%;
    font-size: 16px;
  }
  .quote-autor {
    font-size: 24px;
  }
  .contact-us-wrap .top-blok {
    margin-left: 0;
    margin-top: 40px;
  }
  .contact-us-first-img {
    position: static;
  }
  .contact-us-second-img {
    position: static;
  }
  .contact-us-wrap {
    padding-top: 60px;
    grid-template-columns: 1fr;
  }
  .servises-grid-list {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .servises-grid {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .header-container,
  .line-vertical,
  .line-horizontal {
    display: none;
  }
  .icon-menu,
  .icon-close {
    display: inline-block;
    width: 40px;
    height: 40px;
    stroke-width: 0.5px;
    stroke: var(--accent-color);
    fill: transparent;
  }
  .header-mobile-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  .header-logo {
    width: 150px;
  }

  .header-menu {
    font-size: 24px;
    position: relative;
    padding: 40px 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .header-action {
    margin: 0 auto;
    max-width: 350px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }

  .menu-list {
    gap: 20px;
    padding: 40px 20px;
    align-items: center;
    flex-direction: column;
  }
  .close-menu,
  .open-menu {
    border: none;
    background: transparent;
  }
  .close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .header-mobile-menu {
    z-index: 1000;
    right: -100%;
    position: absolute;
    scale: 0;
    transition: all 500ms ease;
  }
  .is-open {
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background: var(--main-color);
    overflow-y: scroll;
    scale: 1;
    transition: all 500ms ease;
  }
  .footer-top-container {
    flex-wrap: wrap;
    gap: 40px;
    align-items: start;
  }
  .footer-logo-container {
    order: 1;
    flex-grow: 3;
  }
  .social-container {
    order: 2;
  }
  .subscribe-container {
    order: 3;
  }
  .footer-bottom-container p {
    padding-bottom: 120px;
    padding-top: 40px;
  }
  .about-us-wrap {
    flex-direction: column;
    gap: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 768px) {
  .header-mobile-menu {
    width: 40%;
  }
  .quote {
    font-size: 24px;
  }
}

@media (max-width: 1440px) {
  .hero-text-conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
  .contact-img,
  .contact-us-wrap .top-blok {
    margin: 40px auto;
  }
  .contact-us-first-img {
    position: static;
  }
  .contact-us-second-img {
    position: static;
  }
  .contact-us-wrap {
    padding-bottom: 60px;
    padding-top: 60px;
    grid-template-columns: 1fr;
  }
  .hero-swiper {
    display: none;
  }
}

@media (max-width: 768px) {
  .features-list {
    flex-direction: column;
    align-items: center;
  }
}
